.App {
  text-align: center;
  background-color: #A88FE6;
}
.App-header {
  background-color:black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards{
  display:flex;
  justify-content: center;
  margin-top: 25px;
}

.cards-containers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.CardContainer {
  width: 309px;
   height: 190px;
   background-color:#ffffff;
   border:1px solid gray;
   border-radius: 15px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  
   padding: 15px;
}
.card-header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.Avatar-container{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid gray;
}
.avatar{
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 100px;
}
.divider{
  width: 100%;
  border: 1px solid gray;
  margin: 10px 0;
}